body {
  font-family: Helvetica;
}

.task-list {
  list-style: none;
  margin: auto;
  width: 1000px;
  border: 1px solid white;
  font-size: 24px;
  line-height: 48px;
  display: flex;
  vertical-align: middle;
  text-align: center;
}

.field {
  width: 25%;
}

.button {
  background-color: red;
  height: 48px;
  vertical-align: middle;
  text-align: center;
  width: 4%;
  line-height: 48px;
  align-content: center;
}

.task-name {
  background-color: lightblue;
  border: 1px solid black;
}

.assign-to {
  background-color: lightcoral;
}

.due-date {
  background-color: lightgray;
}

.desc {
  background-color: lightcyan;
  width: 300px;
}

.details {
  background-color: lightcyan;
  display: block;
  padding: 4px 8px;
  border-radius: 3px;
}

.details>div {
  display: block;
  width: 400px;
  padding: 4px 8px;
  margin-bottom: 1px;
  border-radius: 1px;
}

.edit-form {
  padding: 8px 24px;
}

.edit-form>label {
  display: block;
  width: 400px;
  padding: 4px 8px;
  margin-bottom: 1px;
  border-radius: 1px;
}

.nav-bar {
  background-color: white;
  list-style: none;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
}

.test-class {
  white-space: nowrap;
}

Link {
  background-color: red;
}

.logout-button {
  background-color: #555555;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
